.container {
    height: 100%;
    font-size: 25px;
    background-color: green;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    background-color: aqua;
}

.skillsItem {
    width: 200px;
    height: auto;
    align-self: center;
}

.skillsItem img {
    height: 100%;
    width: 50%;
}